@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: #9e52c4; */
  /* background-image:linear-gradient(purple, rgba(0, 0, 255, 0.604)); */
  background-image: repeating-linear-gradient(purple, rgba(0, 0, 255, 0.604));
}
.font-link { 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
}  
.video {
  padding: 10%;
  
}
/* h1 {
  padding: 30%;
} */
/* .font {
font-family: 'Hanalei Fill',cursive;

} */

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: space-around;

  
}

.card {
 margin: 1%;
}

.profile-card {
  font-size: xx-large;
  padding: 15%;
}

.view-card {
  height: 45rem;
 padding: 10%; 
 display: flex;
 justify-content: center;
 height: fit-content;
 text-align: center;
 
}
